.mule/plugins-tmp/mule-workday-connector-15.0.4-mule-plugin/metadata/get-customer-output-payload-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Customer_Id" type="xs:string" minOccurs="0" />
                <xs:element name="Customer_Name" type="xs:string" minOccurs="0"/>
                <xs:element name="Worktag_Only" type="xs:boolean"  minOccurs="0" />
                <xs:element name="Tax_Authority_Reference" type="xs:string" minOccurs="0" />
                <xs:element name="Customer_Category" type="xs:string" minOccurs="0" />
                <xs:element name="Customer_Group" type="xs:string" minOccurs="0" />
                <xs:element name="Preferred_Language" type="xs:string" minOccurs="0" />
                <xs:element name="Default_Payment_Terms" type="xs:string" minOccurs="0" />
                <xs:element name="Default_Payment_Type" type="xs:string" minOccurs="0" />
                <xs:element name="Default_Tax_Code" type="xs:string" minOccurs="0" />
                <xs:element name="Tax_Id" type="xs:string" minOccurs="0" />
                <xs:element name="Interest_Rule" type="xs:string" minOccurs="0" />
                <xs:element name="Late_Fee_Rule" type="xs:string" minOccurs="0" />
                <xs:element name="Is_Exempt" type="xs:boolean" minOccurs="0" />
                <xs:element name="DUNS_Number" type="xs:string" minOccurs="0" />
                <xs:element name="Currency_Reference" type="xs:string" minOccurs="0" />
                <xs:element name="Credit_Limit" type="xs:decimal" minOccurs="0" />
                <xs:element name="Credit_Verification_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Commercial_Credit_Score" type="xs:decimal" minOccurs="0" />
                <xs:element name="Commercial_Credit_Score_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Composite_Risk_Score" type="xs:decimal" minOccurs="0" />
                <xs:element name="Composite_Risk_Score_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Customer_Satisfaction_Score" type="xs:decimal" minOccurs="0" />
                <xs:element name="Customer_Satisfaction_Score_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Settlement_Bank_Account_Id" type="xs:string" minOccurs="0" />
                <xs:element name="Settlement_Bank_Account_Name" type="xs:string" minOccurs="0" />
                <xs:element name="Settlement_Account_Country" type="xs:string" minOccurs="0" />
                <xs:element name="Settlement_Account_Currency" type="xs:string" minOccurs="0" />
                <xs:element name="SWIFT_Bank_Identification_Code" type="xs:string" minOccurs="0" />
                <xs:element name="Is_Settlement_Bank_Account_Inactive" type="xs:boolean" minOccurs="0" />
                <xs:element name="Associated_Credit_Card_Profile" type="xs:string" minOccurs="0" />
                <xs:element name="Credit_Card_Type" type="xs:string" minOccurs="0" />
                <xs:element name="Card_Holder_First_Name" type="xs:string" minOccurs="0" />
                <xs:element name="Card_Holder_Last_Name" type="xs:string" minOccurs="0" />
                <xs:element name="Credit_Card_Expiration_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Invoice_Delivery_Method" type="xs:string" minOccurs="0" />
                <xs:element name="Statement_Delivery_Method" type="xs:string" minOccurs="0" />
                <xs:element name="Electronic_Invoicing_Start_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Country_For_Tax_Status" type="xs:string" minOccurs="0" />
                <xs:element name="Transaction_Tax_Status_Reference" type="xs:string" minOccurs="0" />
                <xs:element name="Withholding_Tax_Status_Reference" type="xs:string" minOccurs="0" />
                <xs:element name="Worktag_Reference_Id" type="xs:string" minOccurs="0" />
                <xs:element name="YTD_Sales_Amount" type="xs:decimal" minOccurs="0" />
                <xs:element name="Customer_Balance" type="xs:decimal" minOccurs="0" />
                <xs:element name="Last_12_Months_Sales_Amount" type="xs:decimal" minOccurs="0" />
                <xs:element name="Overdue_Balance" type="xs:decimal" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
