.mule/plugins-tmp/mule-workday-connector-15.0.4-mule-plugin/metadata/get-worker-output-payload-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Worker">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Worker_First_Name" type="xs:string" minOccurs="0" />
                <xs:element name="Worker_Last_Name" type="xs:string" minOccurs="0" />
                <xs:element name="Worker_Id" type="xs:unsignedInt" minOccurs="0" />
                <xs:element name="Worker_Status" type="xs:boolean" minOccurs="0" />
                <xs:element name="Resignation_Date" type="xs:date" minOccurs="0"/>
                <xs:element name="Retired" type="xs:boolean" minOccurs="0" />
                <xs:element name="Terminated" type="xs:boolean" minOccurs="0" />
                <xs:element name="Termination_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Termination_Reason" type="xs:string" minOccurs="0"/>
                <xs:element name="Date_Of_Birth" type="xs:date" minOccurs="0"/>
                <xs:element name="Business_Title" type="xs:string" minOccurs="0" />
                <xs:element name="Email_Address" type="xs:string" minOccurs="0"/>
                <xs:element name="Phone_Number" type="xs:string" minOccurs="0"/>
                <xs:element name="Address" type="xs:string" minOccurs="0" />
                <xs:element name="Country" type="xs:string" minOccurs="0" />
                <xs:element name="Position_Title" type="xs:string" minOccurs="0" />
                <xs:element name="Position_Id" type="xs:string" minOccurs="0" />
                <xs:element name="Position_Start_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Hire_Date" type="xs:date" minOccurs="0" />
                <xs:element name="Supervisory_Organization" type="xs:string" minOccurs="0" />
                <xs:element name="Worker_Type" type="xs:string" minOccurs="0" />
                <xs:element name="Position_Time_Type" type="xs:string" minOccurs="0" />
                <xs:element name="Scheduled_Weekly_Hours" type="xs:unsignedInt" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
